    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    :root {
        --preto: #2c2c2c;
        --amarelo: #f3bd58;
        --cinza: #606060;
        --branco: #F1F1F1;
        --verde: #B8F358;
    }

    body {
        background-color: var(--preto);
        font-size: 1.4rem;
        color: var(--branco);
        margin-top: 2.5rem;
    }

    h1, h2, h3 {
        /* -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black; */
        font-size: 2rem;
    }

    a{
        text-decoration: none;
        color: var(--amarelo);
        transition: all ease-in-out 0.2s;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    a:hover{
        color: var(--branco);
        cursor: pointer;
    }

    .submit {
        background-color: var(--amarelo);
        color: black;
        font-size: 1.8rem;
        width: 20rem;
        height: 3rem;
        border: 0;
        border-radius: 0.2rem;
        transition: ease-in-out 0.3s;
        -webkit-text-stroke-width: 0;
        box-shadow: 5px 10px 20px black;
        margin-top: 4rem;
    }

    .submit:hover {
        background-color: black;
        color: var(--amarelo);
        box-shadow: 0.4rem 0.4rem 1.2rem black;
        transition: .1s linear;
        border-radius: 1rem;
        cursor: pointer;
        -webkit-text-stroke-width: 0;
    }

    .submit:hover::placeholder{
        color: var(--amarelo);
    }

    .btnMar1{
        margin-top: 4rem;
    }

    .botaoCadastro{
        background-color: var(--cinza);
        color: var(--branco);
        font-size: 1.2rem;
        transition: ease-in-out 0.3s;
        border: 0;
        border-radius: 0.2rem;
        width: 12rem;
        height: 2.8rem;
    }

    .botaoCadastro:hover{
        background-color: var(--verde);
        color: black;
        transform: scale(1.2);
        cursor: pointer;
        box-shadow: 0.4rem 0.4rem 1.2rem black;
        border-radius: 1rem;
    }

    .botao {
        background-color: var(--amarelo);
        color: black;
        font-size: 1.2rem;
        transition: ease-in-out 0.3s;
        border: 0;
        border-radius: 0.2rem;
        width: 12rem;
        height: 2.8rem;
    }

    .botao:hover {
        background-color: black;
        color: var(--amarelo);
        transform: scale(1.2);
        cursor: pointer;
        box-shadow: 0.4rem 0.4rem 1.2rem black;
        border-radius: 1rem;
    }

    .botao:active {
        transition: 0s;
        background-color: var(--amarelo);
        color: black;
    }

    ::placeholder {
        color: black;
    }

    .center {
        margin: auto;
        margin-top: 2rem;
        width: 60%;
        padding: 0.7rem;
        text-align: center;
    }

    table {
        margin: auto;
        width: 60%;
        text-align: center;
        border: white 2px;
    }

    input {
        outline: none;
        border: none;
    }

    label{
        margin-right: 0.6rem;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }